body {
    background-image: url("./img.png");
    /*background-color: rgb(226, 219, 202);*/
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    height: 100vh;
    width: 100vw;
}
form {
    background-color: rgb(230, 159, 7);
    width: 350px;
    height: 650px;
    border-radius: 30px;
    padding: 10px 50px 50px 50px;
    color: white;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h1 {
    color: maroon;
}
h3 {
    color: maroon;
}
#name {
    width: 92%;
    height: 25px;
}
#email {
    width: 92%;
    height: 25px;
}
#password {
    width: 92%;
    height: 25px;
}
#number {
    height: 25px;
    width: 60%;
}
button {
    color: white;
    background-color: maroon;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 3.5px;
    font-size: larger;
    font-family: inherit;
    height: 40px;
    width: 30%;
}
#button {
    display: flex;
    justify-content: center;
}
